[Desktop Entry]
Exec=/usr/bin/downloadmanager
Hidden=false
Name=downloadmanager
NoDisplay=true
Terminal=false
Type=Application
X-Deepin-AppID=downloadmanager
X-Deepin-CreatedBy=com.deepin.SessionManager
X-Deepin-Vendor=user-custom
