Source: downloadmanager
Section: utils
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends: 
 debhelper (>= 12),
 cmake,
 pkg-config,
 libqt5widgets5,
 qtbase5-dev,
 qttools5-dev,
 libqt5network5,
 libqt5webchannel5-dev,
 libqt5websockets5-dev,
 libdtkcore-dev,
 libdtkwidget-dev,
 libdtkgui-dev,
 libdframeworkdbus-dev,
 libgtest-dev,
 libgmock-dev,
 libcurl4
Standards-Version: 4.1.3
Homepage: https://www.deepin.org/

Package: org.deepin.downloader
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},sqlite3,libnotify-bin,aria2,libaria2,curl
Description: it's a user-friendly download manager, supporting URLs and torrent files.
 downloader for deepin desktop environment.
