Source: downloadmanager
Section: utils
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends: 
 debhelper (>= 12),
 cmake,
 pkg-config,
 libqt5widgets5,
 qtbase5-dev,
 libqt5x11extras5-dev,
 libdtkcore-dev,
 libdtkwidget-dev,
 libkf5codecs-dev,
 x11proto-xext-dev,
 qttools5-dev-tools,
 libqt5svg5-dev,
 libgsettings-qt-dev,
 libdframeworkdbus-dev,
 qtbase5-private-dev,
 qttools5-dev,
 qtmultimedia5-dev,
 libdtkgui-dev,
 libxext-dev,
 libglib2.0-dev,
 libqt5network5
Standards-Version: 4.1.3
Homepage: https://www.deepin.org/

Package: downloader
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},sqlite3,libnotify-bin,aria2,libaria2,curl
Description: it's a user-friendly download manager, supporting URLs and torrent files.
 downloader for deepin desktop environment.
