#!/usr/bin/make -f

export QT_SELECT=qt5

override_dh_auto_configure:
	dh_auto_configure -- \
    -DCMAKE_BUILD_TYPE=Release \
    -DCMAKE_SAFETYTEST_ARG="CMAKE_SAFETYTEST_ARG_OFF" 

%:
	dh $@

override_dh_auto_test:
	# Disable auto tests at build time