[Desktop Entry]
Categories=downloadManager;
Comment=UOS-download-manager
Exec=deepin-downloadmanager %F
GenericName=Download
Icon=ndm_preferencesystem_32px
MimeType=application/torrent;
Name=Download
StartupNotify=false
Type=Application
X-Deepin-Vendor=user-custom
