[Desktop Entry]
Categories=downloader;Network;
Exec=downloader %F
GenericName=Downloader
Hidden=false
Icon=downloader
MimeType=application/torrent;application/x-bittorrent;
Name=Deepin Downloader
StartupNotify=false
Type=Application
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
GenericName[ar]=متصفح التحميل
GenericName[ast]=Xestor de descargues
GenericName[az]=Yükləyici
GenericName[bo]=ཕབ་ལེན་བྱེད་ཆས།
GenericName[ca]=Descarregador
GenericName[cs]=Nástroj pro stahování
GenericName[de]=Downloader
GenericName[es]=Descargador
GenericName[fi]=Lataaja
GenericName[fr]=Téléchargeur
GenericName[hi_IN]=डाउनलोड साधन
GenericName[hr]=Preuzimatelj
GenericName[hu]=Letöltés Kezelő
GenericName[it]=Downloader
GenericName[ja]=ダウンローダー
GenericName[kab]=Dënnawar
GenericName[ko]=다운로드 도구
GenericName[lo]=ໂປຣແກຣມດາວໂຫຼດ
GenericName[lt]=Užiškinkelis
GenericName[ms]=Pemuat Turun
GenericName[nl]=Downloader
GenericName[pl]=Pobieranie
GenericName[pt]=Gestor de Transferências
GenericName[pt_BR]=Gerenciador de Downloads
GenericName[ru]=Загрузчик
GenericName[sl]=Prenos
GenericName[sq]=Shkarkues
GenericName[sr]=Преузимач
GenericName[tr]=İndirici
GenericName[ug]=چۈشۈرگۈچ
GenericName[uk]=Отримувач даних
GenericName[zh_CN]=下载器
GenericName[zh_HK]=下載器
GenericName[zh_TW]=下載器
Name[ar]=متصفح التحميل في ديبين
Name[ast]=Deepin Downloader
Name[az]=Deepin Yükləyici
Name[bo]=གཏིང་ཚད་ཕབ་ལེན་བྱེད་ཆས།
Name[ca]=Descarregador del Deepin
Name[cs]=Deepin nástroj pro stahování
Name[de]=Deepin Downloader
Name[es]=Descargador de Deepin
Name[fi]=Deepin Lataaja
Name[fr]=Téléchargeur Deepin
Name[hr]=Deepin preuzimatelj
Name[hu]=Deepin® Letöltés Kezelő
Name[it]=Deepin Downloader
Name[ja]=Deepin ダウンローダー
Name[kab]=Deepin Dënnawar
Name[ko]=Deepin 다운로드 도구
Name[lo]=Deepin ດາວໂຫຼດ
Name[lt]=Deepin užiškinkelis
Name[ms]=Pemuat Turun Deepin
Name[nl]=Deepin Downloader
Name[pl]=Pobieranie Deepin
Name[pt]=Gestor de Transferências Deepin
Name[pt_BR]=Gerenciador de Downloads
Name[ru]=Загрузчик Deepin
Name[sl]=Deepin prenos
Name[sq]=Shkarkues Deepin
Name[sr]=Дипин Преузимач
Name[tr]=Deepin İndirici
Name[ug]=Deepin چۈشۈرگۈچ
Name[uk]=Отримувач даних Deepin
Name[zh_CN]=深度下载器
Name[zh_HK]=Deepin 下載器
Name[zh_TW]=Deepin 下載器

