[Desktop Entry]
Categories=downloader;Network;
Exec=downloader %F
GenericName=Downloader
Hidden=false
Icon=downloader
MimeType=application/torrent;application/x-bittorrent;
Name=Deepin Downloader
StartupNotify=false
Type=Application
X-Deepin-Vendor=user-custom
